* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /*  Mantem tamanho da caixa setado */
}

ul {
    list-style: none;
    
    justify-content: center; /* Inserido depois, manter os itens no meio*/
}

body * {
    font-family: 'inter', sans-serif;
    line-height: 160%; /* Altura da linha */
}

body {
    background-image: url(./assets/bg.jpg);
    background-position: top center;
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-color: #121214;
}

main {
    max-width: 900px; /*580px */
    width: 90%;
    margin: 32px auto;

    display: grid;
    gap: 24px;

    margin-top: 32px;
}

section {
    color: white;

    background-image: linear-gradient(90deg, #9572FC 0%, #43E7AD 50.52%, #E2D45C 100%);
    padding-top: 4px;
    border-radius: 10px;
    
}

section div {
    background-color: #2A2634;
    padding: 32px;
    padding-top: 24px;
    border-radius: 8px;

    
}

section h2 {
    letter-spacing: -0.47px;
}

section p {
    letter-spacing: -0.18px;
    color: #A1A1AA;
}

section ul {
    display: flex;
    gap: 16px;

    flex-wrap: wrap; /* Não aumenta a caixa com adição de itens, coloca os itens para baixo*/
    
    margin-top: 24px;
    
}

section ul li {
    transition: transform .3s
}

section ul li:hover {
    transform: scale(1.1);
}

.game-list img {
    width: 200px; /* 90px */
    /* border-radius: 8px;*/
    transition:border .3s
}

/*.game-list img:hover {
    border: 8px outset #9572FC;
    border-top-color:#2A2634 ;
    border-right: none;
}*/


.channel-list img {
    width: 120px; /* 70px*/
    border-radius: 50%;
    border: 2px solid #443E54
    


}








section h2, p {
    display: flex;
    justify-content: center;
}

header {
   /* text-align: center; */
    padding-top: 32px; /*Ou margin-top*/
    height: calc(200px + 32px);
}

header div {
    background-image: linear-gradient(To right, #9572FC 0%, #43E7AD 50.52%, #E2D45C 100%);
    border-radius: 50%;
    background-repeat: no-repeat;
    width: 200px;
    
    display: flex;
    margin: auto;

    gap: 32px;

    transition: transform .5s;    
    
}

header div:hover {
    transform: scale(1.1);
}

header div img{
       
    width: 100%;
    

    border: 8px solid transparent;
    border-radius: 50%;    
    
}

/* Animation */

header div {
    animation: fromTop 2s;
    transition: transform .7s 1s/*delay*/ backwards; /*Backwards puxar propriedades do keyframes, animação, para cima*/
}

main section{
    animation: fromBottom .7s backwards;
}

main section:nth-child(2) {
    animation-delay: .4s;

}

main section:nth-child(3) {
    animation-delay: .8s;

}



@keyframes fromTop {
    /*0%*/from {
        opacity: 0;
        transform: translateY(-30px)
    }

    /*100%*/to{
        opacity: 1;
        transform: translateY(0)
    }
}

@keyframes fromBottom {
    /*0%*/from {
        opacity: 0;
        transform: translateY(30px)
    }

    /*100%*/to{
        opacity: 1;
        transform: translateY(0)
    }
}

